a {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
}

form {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    margin-top: 75px;
}

input[type=submit] {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #5f6368;
    font-size: 14px;
    margin: 0 5px;
    padding: 10px 15px;
}

input[type=submit]:hover{
    color: #222222;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

input[type=text] {
    border: 1px solid #b6b6b6;
    border-radius: 20px;
    height: 40px;
    margin: 30px auto;
    width: 600px;
}

li {
    display: inline;
    padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.sign-in {
    -webkit-appearance: button;
    background-color: #4285f4;
    color: #ffffff;
    font-weight: bold;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%
}

#footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    bottom: 0;
    width: 100%;
}